.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.mt-1 {
    margin-top: 1rem;
}
.submit-btn button {
    border: unset;
    width: 200px;
    margin: 0 auto;
    background: linear-gradient(to right,#ff6034,#ee0a24);
}
